= form_for @match do |f|
  -if @match.errors.any?
    #error_explanation
      %h2= "#{pluralize(@match.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @match.errors.full_messages.each do |msg|
          %li= msg

  .play_friends
    %h2
      Play Friends
    / - @friends["data"].each do |friend|
    /   - if User.exists?(uid: friend["id"])
    / = "name"
    / = check_box_tag 'users[]', "some_id"
    /   %br
  .invite_friends
    %h2
      Invite Friends
  .actions
    = f.submit 'Create game'