= form_for @match do |f|
  -if @match.errors.any?
    #error_explanation
      %h2= "#{pluralize(@match.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @match.errors.full_messages.each do |msg|
          %li= msg

  = @list[:invite_friends].length
  = @list[:play_friends].length
  = @friends["data"].length
  .play_friends
    %h2
      Play Friends
    - @list[:play_friends].each do |friend|
      = check_box_tag 'users[]', "#{friend["id"]}"
      = friend["name"]
      %br
    / - @friends["data"].each do |friend|
    /   - if User.exists?(uid: friend["id"])
    / = "name"
    / = check_box_tag 'users[]', "some_id"
    /   %br
  .invite_friends
    %h2
      Invite Friends
    - @list[:invite_friends].each do |friend|
      = check_box_tag 'users[]', "#{friend["id"]}"
      = friend["name"]
      %br
  .actions
    = f.submit 'Create game'