%br
Players:
%br
- @match.users.each do |u|
	= u.username
	= u.decks.find_by_match_id(@match.id).hand_value
	%br
%br
= "Turn: #{@match.players[@match.turn].username}"
%br
= "Hand:"
%br
- @deck.hand_array.each do |card|
	%a{href: 'javascript:void(0)', class: card.gsub(/ /, '_')}
		= card
	%br
%br
= "Deck: #{@deck.cards_array.length}"
%br
= "Mine: #{@match.mine_array.length}"
%br
= "Actions: #{@deck.actions}"